{% extends "common/base.html" %}
{% load staticfiles %}

{% block custCSS %}
path {
  stroke: #fff;
  fill-rule: evenodd;
}

{% endblock %}

{% block customHeader %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content %}
<div class='row' style="margin-top:20px;">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li {% if cat == 'ms' %}class="active"{%endif%}><a href="{% url 'analyse' 'ms' %}">Mobile Stations</a></li>
			<li {% if cat == 'wism' %}class="active"{%endif%}><a href="{% url 'analyse' 'wism' %}">Wism</a></li>
		</ul>
	</div>

	<div id="graph" class="col-md-10">
		{% if wism %}

		{%elif ms%}
			<script type="text/javascript">
			    // Load the Visualization API and the piechart package.
      			google.load('visualization', '1.0', {'packages':['corechart']});
      
      			// Set a callback to run when the Google Visualization API is loaded.
      			google.setOnLoadCallback(drawProtoChart);
				function drawProtoChart() {

      				var data = new google.visualization.DataTable();
      				data.addColumn('string', 'Protocol');
      				data.addColumn('number', 'People');
      				data.addRows([
        				{%for attribut, value in ms.proto.items%}
						['{{attribut}}', {{value}}],
						{%endfor%}
        				
      				]);
      				data.sort([{column: 0}]);
      				var options = {'title':'802.11 Protocol',
                    	'width':400,
                    	'height':300};

      				var chart = new google.visualization.PieChart(document.getElementById('protochart_div'));

      				chart.draw(data, options);
      			}
			</script>
			<div id="protochart_div" style="width:400; height:300"></div>
		{%endif%}
	</div>
</div>

{% endblock %}