{% extends "common/base.html" %}
{% load staticfiles %}

{% block custCSS %}
<link href="{% static 'gatherer/css/index.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li><a href="{% url 'index' %}">General</a></li>
		<li><a href="{% url 'logs' %}">Logs</a></li>
		<li class="active"><a href="#">SNMP</a></li>
	</ul>
</div> <!-- /container -->

<div class='row'>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li {% if cat == 'ap' %}class="active"{%endif%}><a href="{% url 'snmp' 'ap' %}">Access Point</a></li>
      <li {% if cat == 'ms' %}class="active"{%endif%}><a href="{% url 'snmp' 'ms' %}">Mobile Station</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    {% if ap %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Mac Address</th>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        {% for point in ap %}
        <tr>
          <td></td>
          <td>{{point.name}}</td>
          <td>{{point.macAddress}}</td>
          <td>{{point.ip}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {{ap|length}} entr{{ ap|pluralize:'y,ies' }}
      {%if ap.paginator.num_pages > 1 %}
      <p class="text-center">Page {{ ap.number }} of {{ ap.paginator.num_pages }}</p>
      <ul class="pager">
          <li class="previous{%if not ap.has_previous%} disabled{%endif%}"><a href="{%if ap.has_previous%}{% url 'snmp' 'ap' ap.previous_page_number %}{%else%}#{%endif%}">Newer</a></li>
          <li class="next{%if not ap.has_next%} disabled{%endif%}"><a href="{%if ap.has_next%}{% url 'snmp' 'ap' ap.next_page_number %}{%else%}#{%endif%}">Older</a></li>
      </ul>
      {%endif%}
    </footer>
    {%elif ms %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Mac Address</th>
          <th>IP</th>
          <th>SSID</th>
          <th>Wifi Protocol</th>
        </tr>
      </thead>
      <tbody>
        {% for station in ms %}
        <tr>
          <td></td>
          <td>{{station.macAddress}}</td>
          <td>{{station.ip}}</td>
          <td>{{station.ssid}}</td>
          <td>{{station.dot11protocol}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      {{ms|length}} entr{{ ms|pluralize:'y,ies' }}
      {%if ms.paginator.num_pages > 1 %}
      <p class="text-center">Page {{ ms.number }} of {{ ms.paginator.num_pages }}</p>
      <ul class="pager">
          <li class="previous{%if not ms.has_previous%} disabled{%endif%}"><a href="{%if ms.has_previous%}{% url 'snmp' 'ms' ms.previous_page_number %}{%else%}#{%endif%}">Newer</a></li>
          <li class="next{%if not ms.has_next%} disabled{%endif%}"><a href="{%if ms.has_next%}{% url 'snmp' 'ms' ms.next_page_number %}{%else%}#{%endif%}">Older</a></li>
      </ul>
      {%endif%}
    </footer>
    {%endif%}
  </div>
</div>

{% endblock %}